@model IEnumerable<HMS.Entity.Models.Reception>

<div class="row">
    <div class="col-12">
        <h3> Patient Appointment Details</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Appointment ID</th>
                    <th>Appointment Time</th>
                    <th> Patient Name</th>
                    <th> Patient Weight</th>
                    <th> Doctor Name</th>
                    
                </tr>
            </thead>
            <tbody>


                @foreach (var reception in Model)
                {

                    <tr>
                        <td>@reception.AppointmentId</td>
                        <td>@reception.AppointmentTime</td>
                        <td>@reception.PatientName</td>
                        <td>@reception.PatientWeight</td>
                        <td>@reception.DoctorName</td>
                      
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>